* {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    background-color: beige;
    padding-bottom: 20px;
    padding-top: 15px;
    color: darkred;
    text-align: center;
    font-size: 30px;
}

h1 {
    padding-top: 30px;
    color: darkred;
    text-align: center;
    font-size: 25px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.image-container {
}

.image {
    width: 200px;
    padding: 20px;
}

.image:hover {
    cursor: zoom-in;
}

.description {
    text-align: center;
}

.photoIDModal {
    width: 600px;
}
