* {
    margin: 0;
    padding: 0;
}

p {
    margin-bottom: 0;
}

b {
    color:  darkred;
}

h1 {
    padding-top: 20px;
    color: white;
    text-align: center;
    font-size: 40px;
}

h2 {
    padding-top: 20px;
    color: darkred;
    text-align: center;
    font-size: 30px;
}

.header {
    width: 100%;
    background: linear-gradient(to right, darkred, crimson);
    /*background-color: darkred;*/
    padding-bottom: 10px;
    color: white;
    text-align: center;
    font-size: 30px;
}

.image-container {
    margin: 10px;
    border: 3px double darkred;
    text-align: center;
}

.image-container:hover {
    border: 3px solid darkred;
}

.image {
    width: 300px;
    border: 1px solid gray;
    margin: 5px;
}

.image:hover {
    cursor: zoom-in;
}

.description {
    text-align: left;
    font-style: italic;
    padding-left: 30px;
    margin-bottom: 10px;
}

.photoIDModal {
    width: 600px;
    border: 1px solid gray;
}

@media (max-width: 992px) {
    .photoIDModal {
        width: 300px;
    }
}
