* {
    margin: 0;
    padding: 0;
}

a {
    color: darkred;
}

a:hover {
    color: darkred;
}

p {
    margin-bottom: 0;
}

b {
    color:  darkred;
}

h1 {
    padding-top: 20px;
    text-align: center;
    font-size: 40px;
}

h2 {
    color: darkred;
    text-align: center;
    font-size: 40px;
}

h3 {
    color: darkred;
    font-size: 30px;
    text-align: center;
}

.header {
    width: 100%;
    background: linear-gradient(to right, darkred, crimson);
    padding-bottom: 10px;
    color: white;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.header a{
    color: white;
}

.image-container {
    margin-bottom: 15px;
    border: 3px double darkred;
    text-align: center;
}

.image-container:hover {
    border: 3px solid darkred;
}

.image {
    width: 95%;
    border: 1px solid gray;
    margin: 5px;
}

.image:hover {
    cursor: zoom-in;
}

.imageMainPage {
    width: 200px;
}

.description {
    text-align: left;
    font-style: italic;
    padding-left: 30px;
    margin-bottom: 10px;
}

.photoIDModal {
    width: 100%;
    border: 1px solid gray;
}

.mainLink {
    font-size: 50px;
    text-align: center;
    margin-top: 100px;
}

.mainLink a {
    color: darkred;
}

.mainLink:hover {
    color: darkred;
}

/*@media (max-width: 992px) {*/
    /*.photoIDModal {*/
        /*width: 300px;*/
    /*}*/
/*}*/
